
.heading-text
{
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 50px;
    background-color: rgba(247, 245, 245, 0.616);
    justify-content: center;
    align-items: center;
    color: brown;
}
.link
{
    display: flex;
    border: 1px solid black;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgba(247, 245, 245, 0.616);
    justify-content: center;
    align-items: center;
    color: brown;
}
.left
{
    margin-right: 10px;
    display: flex;
    width: 10%;
    height: 200px;
    border: 1px solid black;
    background-color: rgba(247, 245, 245, 0.616);
    justify-content: center;
    align-items: center;
    color: brown;
}

.content
{
    display: flex;
    border: 1px solid black;
    width: 70%;
    height: 200px;
    background-color: rgba(247, 245, 245, 0.616);
    color: brown;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.right
{
    display: flex;
    width: 20%;
    height: 200px;
    border: 1px solid black;
    background-color: rgba(247, 245, 245, 0.616);
    text-align: center;
    color: brown;
    justify-content: center;
    align-items: center;
}

.box-footer
{
    margin-top: 15px;
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 50px;
    background-color: rgba(247, 245, 245, 0.616);
    justify-content: center;
    align-items: center;
    color: brown;
}
.all
{
    display: flex;

} 
