div.circle
{
    margin:  100px auto;
    width: 100px;
    height: 100px;
    transform: translate(-50%,50%);
    background-color: greenyellow;
    border: 3px solid rgb(130, 153, 96);
    border-radius: 50%;
    box-shadow: 0 0 0 36px rgb(93, 93, 151),
                0 0 0 50px rgb(54, 9, 9);
}
.circle::after,.circle::before 
{ 
    content: '';
    position: absolute;
    top:-15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
    border: 2px solid rgb(44, 202, 223);
    border-radius: 50%;
    animation: animate 3s linear infinite;
}
.circle::before
{
    animation-delay: 2s;
}
@keyframes animate {
    0%{
        transform: scale(2.0);
    }
    100%{
        transform: scale(0.7);
    }
}