html
{
    font-family: cursive;
    background-color: rgb(255, 245, 160);
}
div.box1
{
    background-color: rgb(147, 255, 219);
    color: blue;
    font-family: Arial;
    font-size: large;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 2px;
    
}
label.ad
{
    float: left;
}
label
{
    display: inline-block;
    width: 90px;
}
input[type=submit]
{
    margin-left: 95px;
}
input
{
    border-color: aquamarine;
    border-style: inset;
}