:root{
    margin:0;
    --orange-color:#fa6600;
    --grey-color:#eeeceb;
}

/* Header */

/* menu-top */
.menu-top,.menu-middle,.menu-bottom{
    padding-inline:6%;
    padding-block:1%;
}
.order-item,.list-language{
    color:white;
}
.order-item{
    margin-inline: 20px;
}
.list-order-option{
    font-size: small;
}

/* menu-middle */
.box-search{
    margin-block:auto;
}
.search{
    border: 1px solid black;
}
.search-target{
    width: 80%;
}
.menu-option{
    margin-inline:10px;
}
.box-search,.sign-in,.cart{
    margin-inline: 11px;
}
.title-menu-middle{
    font-size:13px !important;
    white-space: nowrap;
}
.list-bike__menu{
    display:none;
    z-index: 3;
    background-color: white;
}
.item-menu__bike{
    white-space: nowrap;
    padding-block:1rem;
}
.menu-option:hover >.list-bike__menu{
    display: block;
    cursor: pointer;
}
.item-menu__bike:hover{
    color: #fa6600;
}
.offcanvas-body div:nth-child(3) {
    margin-block:1rem;
}
.btn-sign-in{
    background-color: var(--orange-color);
    color:white; 
    margin-block: 1rem;
}
.ctn-shopping{
    width: fit-content;
    padding:1rem;
    background-color:var(--orange-color);
    color:white;
}
.offcanvas-start a{
    color:black;
}
.offcanvas-start a:hover{
    color:var(--orange-color);
}
.list-bike__menu-right{
    top:0;
    left: 100%;
    display: none;
    border: 1px solid var(--orange-color);
}
.offcanvas-menu-title:hover >.list-bike__menu-right{
    display: block;
}
.offcanvas-menu-title{
    width: fit-content;
}
.box-menu__three{
    width: fit-content;
}
/* menu-bottom */
#carouselExampleInterval{
    width: 100%;
    background-color: var(--orange-color);
    padding-block:10px;
}
.carousel-item p{
    font-size: 23px;
    font-weight: 400;
}

/* Main */
/* page-one */
.harley-museum__wrapper{
    top:15%;
    left:8%;
    width: fit-content;
    color:white;
}
.title-museum{
    color:var(--orange-color);
}
/* page-one */
.title-tour{
    background-color: var(--grey-color);
}
.link-infor-tour{
    color:black;
}
.audio-tour,.introduce-tour{
    width: fit-content;
    width: 45%;
}
img{
    width: 100%;
}
p.explore-tour__text{
    width: 100%;
}
/* page-two */
.overview-tour,.explore-tour{
    padding-inline:5%;
}
.link_pdf{
    color:black;
}
.card-body {
    display: flex;
    flex-direction: column;
}
.card-text{
    flex:1;
}
.card-img-top {
    width: 100%;
}
.card-title {
    width: 100%;
}
/* page-three */
.page-three{
    background-color: var(--grey-color);
    padding-inline:15%;
}
.link__gmail{
    color:black
}
/* page-four */
.btn-pass{
    background-color: var(--orange-color);
    color:white;
}

/* Footer */

.footer-panel{
    padding-inline:15%;
}
/* panel-1 */
.first-footer-panel{
    padding-block:2rem;
}
.last-link{
    font-size: larger;
}
.news{
    white-space: nowrap;
}
.news>p{
    color:var(--orange-color);
}
.btn-email{
    background-color: var(--orange-color);
    color: white;
    font-size: larger;
    white-space: nowrap;
}


/* panel-2 */
.group-title-panel{
    padding-top:2rem;
}
.list-footer{
    padding-block:1rem;
}
.second-footer-panel{
    white-space: nowrap;
}
.navbar-list-item,span.navbar-toggler-icon{
    color:white !important;
}
.navbar-dropdown-list{
    padding-inline: 3rem;
}
/* panel-3 */
.third-footer-panel{
    padding-block: 2rem;
}
.third-footer__item{
    width:fit-content;
    padding-inline:10px;
}
div.col-md-4{
    padding-inline: 10px;
    width: fit-content;
}
/* panel-4 */
.fourth-footer-panel{
    padding-block: 2rem;
}
.list-language__two{
    border: 1px solid var(--orange-color);
    color:white;
    padding:15px 20px;
    margin-block:auto;
    height: fit-content;
    width: 100%;
}
.icon-social{
    font-size: 2rem;
}
