:root{
    margin:0;
    --orange-color:#fa6600;
    --grey-color:#eeeceb;
}
.container{
    margin-inline:15%;
}
.content{
    background-color: var(--grey-color);
}
.wrapper{
    /* margin-inline:8%; */
    /* padding-inline:7%; */
}
h1{
    color:var(--orange-color);
}
.header-steps__wrapper{
    width: fit-content;
    padding: 12px 20px;
    border-radius: 50%;
    background-color:var(--orange-color);
    margin-inline:auto;
}
.cir-one:after,.cir-two:after {
    content: "";
    position: absolute;
    top: 25%;
    right: 0;
    transform: translateY(-50%);
    width: 40%;
    height: 4px;
    background-color: var(--orange-color);
}    
.cir-two:before,.cir-three:before{
    content: "";
    position: absolute;
    top: 25%;
    left: 0;
    transform: translateY(-50%);
    width: 40%;
    height: 4px;
    background-color: var(--orange-color);
}   
.card-product{
    width: 25%;
}     
.img-card{
    width: 100%;
}               
.button{
    background-color: var(--orange-color);
    color:white;
    padding:5px;
}
.inline-text{
    color:var(--orange-color);
}
.btn-submit{
    border: 0;
    background-color: var(--orange-color);
    color: white;
}
.ending{
    border: 1px solid black;
    width: fit-content;
    margin-inline:auto;
    background-color: black;
}
.ending-text{
    color:var(--orange-color);
}

