body{
    background-color: rgb(235, 235, 235);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    cursor: pointer;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
main{
    display: flex;
    margin: 0;
    justify-content: space-evenly;
}
.heading-box{
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgb(155, 155, 155);
}
div.head-1{
    width: 80%;
    display: flex;
}
div.head-list{
    padding:20px;
}
div.head-list:hover{
    color:white;
    background-color: black;
}
div.input1{
    width: 20%;
    display: flex;
}
div.input1 p{
    padding: 4px;
    margin-left: 60%;
}
p.text-head{
    width: fit-content;
}
i{
    color: black;
    margin-right: 5px;
}
p.text-head:hover{
    color:white;
    background-color: black;
}
.box-1,.box-3{
    width: 20%;
    text-align: center;
    padding-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}
.box-2{
    width: 60%;
    background-color: rgb(255, 255, 255);
    padding-inline: 20px;
}
li.main-list{
    margin-bottom: 20px;
}
div.ads{
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding-block: 20px;
}
.footer{
    text-align: center;
    padding-block:20px;
    color: white;
    width: 100%;
    background-color: rgb(155, 155, 155);
}
