html{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(240, 240, 240);
}
:root{
    --main-color:rgb(75, 120, 245);
}
div.col1{
    display:inline-block;
}
h4,h2{
    color: var(--main-color);
}
h4.title1{
    margin-top: 5px;
    font-size: 25px;
}
img.img1{
    width: 40%;
}
.main-news{
    background-color: rgb(255, 255, 255);
    height: auto;
}
.box1,.box2,.box3{
    display: flex;
    margin-bottom: 20px;
    margin-left: 10px;
}
.infor-news{
    margin-left: 20px;
}
.web{
    display: flex;
 } 
div.col2{
    width: 38%;
    margin-left: 8px;
}
h3{
    margin-top: 0;
    text-align: center;
    padding-top: 15px;
    color: var(--main-color);
}
.New-post{
    background-color: rgb(255, 255, 255);
}
img.img2{
    width: 30%;
    /* padding-top: 0; */
    margin-left: 5px;
}
.news-1,.news-2,.news-3
{
    display: flex;
    margin-bottom: 5px;
    /* align-items: center; */
}
.infor-news2
{
    font-size: 13px;
    margin-left: 10px;
    line-height: 10px;
}
.hr1{
    height: 5px;
    background-color: black;
    margin-left:20px;
    margin-right: 20px;
    border-radius: 12px;
}
div.List-blog{
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
}
div.list-option >div{
    font-size: 20px;
    padding-top:10px;
    padding-left: 10px;
}
i{
    width: 50px;
    color: rgb(0, 0, 0);
    float: right;
}
.hr2{
    border: 1px dashed black;
    margin-left:15px;
    margin-right:15px;
} 

@media (max-width:800px) {

    .web{
        flex-direction: column;
    }
    .col1{
        display: inline-block;
        width: 100vw;
        margin-bottom: 10px;
        margin-left: 8px;
    }
    img.img1{
        height: 100%;
    }
    .New-post,.List-blog{
        display: inline-block;
        width: 100vw;
    }
}



